thead{
    
    background-color: lightblue;
    
}
table{
    width: 100%;
    text-align: center;
    border-collapse:collapse;
    margin-top:20px;
}
td{
    padding: 20px;
}
.a{
    display: flex;
    align-items: center;
}
.b{
    margin:0px 15px;
    border-radius: 4px;
    /* border: 1px solid black; */
}